{
	email {$ACME_EMAIL}
}

{$APP_HOST} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy api:3000
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}

:8080 {
	respond /healthz 200
}
